* text=auto eol=lf

*.sh text eol=lf
*.prop text eol=lf
*.json text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.tsv text eol=lf
*.txt text eol=lf

META-INF/com/google/android/update-binary text eol=lf
META-INF/com/google/android/updater-script text eol=lf

*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
